@model AddStaffViewModel
@{
    ViewData["Title"] = "AddStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Personnel Name</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Personnel Title</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Social Media1</label>
    <input type="text" asp-for="SocialMedia1" class="form-control" />
    <br />
    <label>Social Media2</label>
    <input type="text" asp-for="SocialMedia2" class="form-control" />
    <br />
    <label>Social Media3</label>
    <input type="text" asp-for="SocialMedia3" class="form-control" />
    <br />
    <button class="btn btn-primary">Add Personnel</button>
</form>

